<div
  class="flex justify-content-center align-content-center flex-wrap gap-3 mb-4"
>
  <p-button icon="pi pi-chevron-left" [text]="true"></p-button>
  <p>{{ displayDate.format("D MMM, YYYY")}}</p>
  <p-button icon="pi pi-chevron-right" [text]="true"></p-button>
</div>

<p-table [value]="empSchedule" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th style="min-width: 10rem">Employees</th>
      <th *ngFor="let hour of displayHours" style="font-size: 12px">
        {{ hour }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-schedule>
    <tr>
      <td>{{ schedule.empName }}</td>
      <td
        *ngFor="let slot of schedule.slots"
        [attr.colspan]="slot.duration + 1"
        [class.assigned-slot]="slot.assigned"
      >
        <span *ngIf="slot.assigned"
          >{{ slot.startTime }} - {{ slot.endTime }} ({{ slot.position }})</span
        >
        <span *ngIf="!slot.assigned">Not Assigned</span>
      </td>
    </tr>
  </ng-template>
</p-table>
