tr, td {
    border: 1px solid #EEF1F4;
    text-align: center;
}

td {
    min-height: 125px;
    height: 125px;
}

.not-in-month{
   color: #eef1f4;
}

.assigned-slot{
    font-size: 11px;
    background-color: #F6F0D5;
    border:none;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.month-cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 5px;
}